@model Gestion_Gastos.Models.Transaccion

@{
    ViewData["PageTitle"] = Model.IdTransaccion == 0 ? "Crear nueva transacción" : "Editar transacción";
}


<div class="row">
    <div class="col-md-7">
        <div class="widget p-5" style="background-color:#d9d4e8">
            <form asp-action="CrearEditar">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" name="IdTransaccion" value="@Model.IdTransaccion" />
                <div class="mb-3">
                    <ejs-datepicker id="Fecha" ejs-for="Fecha" placeholder="Fecha" floatLabelType="Always" format="dd-MMM-yyyy"></ejs-datepicker>
                </div>
                <div class="mb-3">
                    <ejs-dropdownlist id="ddlCategoria" ejs-for="IdCategoria" dataSource="@ViewBag.Categorias" placeholder="Categorías" floatLabelType="Always" allowFiltering="true" ignoreAccent="true" filterType="Contains" popupHeight="200px">
                        <e-dropdownlist-fields value="IdCategoria" text="IconoTitulo"></e-dropdownlist-fields>
                    </ejs-dropdownlist>
                    <span asp-validation-for="IdCategoria" class="text-danger fs-6"></span>
                </div>
                <div class="mb-3">
                    <ejs-numerictextbox id="cantidad" ejs-for="Cantidad" placeholder="Cantidad" floatLabelType="Always" min="0" format="c0" currency="EUR"></ejs-numerictextbox>
                    <span asp-validation-for="Cantidad" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <ejs-textbox id="notas" placeholder="Notas" ejs-for="Notas" floatLabelType="Always" multiline="true"></ejs-textbox>
                </div>
                <ejs-button id="submit" type="submit" content="Confirmar" cssClass="e-success"></ejs-button>
            </form>
        </div>
    </div>
    <div class="col-md-5" ">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-money-bill-transfer fa-7x"></i>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
